[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "baorista"]
	path = baorista
	url = https://github.com/ercrema/baorista
[submodule "nimbleCarbon"]
	path = nimbleCarbon
	url = https://github.com/ercrema/nimblecarbon
